In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


def generate_vehicles_data(num_vehicles):
    # Set random seed for reproducibility
    np.random.seed(42)
    
    # Create a base proportionality factor for each vehicle (e.g., 1 to 2)
    base_factor = np.random.uniform(1, 3, num_vehicles)
    adjustment = np.random.uniform(-0.3, 0.3) 

    # Calculate each attribute by scaling the minimum value by the base factor
    capacity = (base_factor + adjustment) * 100                      # Assuming capacity scales linearly with the base factor
    range_km = (base_factor * 200)                                  # Assuming range scales linearly with the base factor
    fuel_consumption = 1 + (base_factor + adjustment - 1) * 0.75    # Assuming fuel consumption scales less aggressively
    cost = (base_factor + adjustment) * 300                         # Assuming cost scales linearly with the base factor
    
    # Normalize each attribute to be within the desired range
    capacity = np.clip(capacity, 100, 200)
    range_km = np.clip(range_km, 200, 450)
    fuel_consumption = np.clip(fuel_consumption, 1, 2)
    cost = np.clip(cost, 300, 600)
    
    # Create a DataFrame
    vehicles_df = pd.DataFrame({
        'ID': range(1, num_vehicles + 1),
        'Capacity': capacity,
        'Range': range_km,
        'Fuel Consumption': fuel_consumption,
        'Cost': cost
    })
    
    # Round the values for cleaner presentation
    vehicles_df = vehicles_df.round({
        'Capacity': -1,
        'Range': -1,  # Round to nearest 10 for range
        'Fuel Consumption': 2,
        'Cost': -1  # Round to nearest 10 for cost
    })
    
    return vehicles_df

n_vehicles = 10
vehicles = generate_vehicles_data(n_vehicles)
vehicles['ID'] = vehicles['ID'].astype(str)
for index, row in vehicles.iterrows():
    row['ID'] = int(row['ID'])

vehicles 

vehicles.to_csv(f'Vehicles_{n_vehicles}.csv')

In [2]:
vehicles

   ID  Capacity  Range  Fuel Consumption   Cost
0   1     150.0  350.0              1.35  440.0
1   2     200.0  450.0              2.00  600.0
2   3     200.0  450.0              1.88  600.0
3   4     190.0  440.0              1.68  570.0
4   5     100.0  260.0              1.02  310.0
5   6     100.0  260.0              1.02  310.0
6   7     100.0  220.0              1.00  300.0
7   8     200.0  450.0              2.00  600.0
8   9     190.0  440.0              1.69  570.0
9  10     200.0  450.0              1.85  600.0